<div class="container">
  <div class="top-right-buttons">
    <button (click)="cart()" class="help-button">Cart</button>
    <button (click)="help()" class="help-button">Help</button>
    <button (click)="logout()" class="logout-button">Logout</button>
  </div>
  <div class="image-container">
    <img src="../../../../assets/loginRegisterLogo.png" class="train-logo" />
  </div>
  <form (ngSubmit)="searchTrains()" #searchForm="ngForm" class="form-container">
    <mat-form-field>
      <mat-label>Source</mat-label>
      <input matInput name="source" [(ngModel)]="source" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Destination</mat-label>
      <input matInput name="destination" [(ngModel)]="destination" required>
    </mat-form-field>

    <div class="checkbox-container">
      <label class="checkbox-label">
        <input type="checkbox" name="tripType">
        <span>Return Trip</span>
      </label>
      <label class="checkbox-label">
        <input type="checkbox" name="tripType">
        <span>One Way</span>
      </label>
    </div>

    <mat-form-field>
      <mat-label>Departure Date</mat-label>
      <input matInput [matDatepicker]="picker" name="departureDate" [(ngModel)]="departureDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon>date_range</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!searchForm.form.valid" style="background-color: grey; color: white;">
      Search
    </button>
  </form>
  <div class="bottom-right-logo">
    <img src="../../../../assets/logo.png" class="company-logo" />
    <span class="company-name">Railway</span>
  </div>
</div>

<div *ngIf="showPopup" class="popup-container">
  <div class="popup-content">
    <h3 class="popup-title">Available Trains</h3>
    <ul class="train-list">
      <li *ngFor="let train of displayedTrains" class="train-item">
        <div class="train-details">
          <div class="departure-arrival">
            <span class="label">Departure:</span>
            <span class="value">{{ getFormattedDateTime(train.departureTime) }}</span>
          </div>
          <div class="departure-arrival">
            <span class="label">Arrival:</span>
            <span class="value">{{ getFormattedDateTime(train.arrivalTime) }}</span>
          </div>
          <div class="from-to">
            <span class="label">From:</span>
            <span class="value">{{ train.departureStation }}</span>
          </div>
          <div class="from-to">
            <span class="label">To:</span>
            <span class="value">{{ train.arrivalStation }}</span>
          </div>
          <div class="from-to">
            <span class="label">Price:</span>
            <span class="value">{{ train.price }}$</span>
          </div>
        </div>
        <button
          mat-raised-button
          color="primary"
          class="add-to-cart-button"
          (click)="showAddTicketForm(train)"
        >
          Add to Cart
        </button>
      </li>
    </ul>
    <mat-paginator
      [length]="trains.length"
      [pageSize]="itemsPerPage"
      (page)="changePage($event.pageIndex + 1)"
    ></mat-paginator>
    <button mat-icon-button class="close-button" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div *ngIf="showAddTicketFormModal" class="form-container-cart">
    <div class="add-ticket-form-content">
      <h3 class="add-ticket-form-title">Add Ticket</h3>
      <form (ngSubmit)="addTicket()" #addTicketForm="ngForm" class="add-ticket-form">
        <mat-form-field>
          <mat-label>Passenger Name</mat-label>
          <input matInput name="passengerName" [(ngModel)]="passengerName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Seat Number</mat-label>
          <input matInput type="number" name="seatNumber" [(ngModel)]="seatNumber" required>
        </mat-form-field>
        <div class="add-ticket-form-buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="!addTicketForm.form.valid">Add</button>
          <button mat-raised-button color="warn" (click)="cancelAddTicket()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

