.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(180deg, #234AB5 0%, #000000 100%);
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.train-logo {
  width: 300px;
  height: auto;
  padding-right: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

mat-form-field {
  width: 100%;
}

button[type="submit"] {
  width: 100%;
}

.mat-datepicker-toggle {
  color: #FFFFFF;
}

.mat-datepicker-toggle:hover {
  color: #FFFF00;
}

.mat-form-field-label {
  color: #FFFFFF;
}

.mat-form-field-underline {
  background-color: #FFFFFF;
}

.mat-input-element {
  color: #FFFFFF;
}

.mat-input-element::placeholder {
  color: #D7D7D7;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
    justify-content: flex-start;
  color: white;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.checkbox-label span {
  font-size: 16px;
}

.help-button,
.logout-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  margin-left: 10px;
  width: 120px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.help-button:hover,
.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.help-button:focus,
.logout-button:focus {
  outline: none;
}

.top-right-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.image-small {
  width: 41px;
  height: 50px;
  margin-right: 10px;
}

.bottom-right-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  width: 400px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.train-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.train-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.train-details {
  display: flex;
  flex-direction: column;
}

.departure-arrival {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  .label {
    margin-right: 8px;
    font-weight: 600;
  }
}

.from-to {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  .label {
    margin-right: 8px;
    font-weight: 600;
  }
}

.add-to-cart-button {
  background-color: #FFFFFF;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten(#FFFFFF, 10%);
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  color: #FFFFFF;
  cursor: pointer;
}

.success-snackbar {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.form-container-cart {
  margin-left: 20px;
  background-color: white;
  border-radius: 8px;
}

.add-ticket-form-buttons {
  margin-top: 10px;
  text-align: center;
}

.add-ticket-form-title {
  text-align: center;
}

.add-ticket-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  padding: 20px;
  background: white;
  border-radius: 25px;
}





