@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  background-color: linear-gradient(180deg, #234AB5 0%, #000000 100%);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0;
}

